@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:opsz@18..144&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');

@font-face {
    font-family: Causten;
    src: url(../font/causten-regular-1.woff2) format("woff2");
    src: url(../font/causten-regular-1.woff2) format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}